*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        hsl(17, 84%, 36%),
        #cb524a
    );
}
.container{
   
   width: 40%;
   position: absolute;
   transform: translate(-50%,-50%);
   min-width: 450px;
   top: 50%;
   left: 50%;
   padding: 30px 40px;

    
}
#newtask{
    background-color: #ffffff;
    padding:30px 20px ;
    border-radius: 5px;
    box-shadow:0 15px 30px rgba(0,0,0,0.3)  ;

}
#newtask input{
    width: 70%;
    height: 45px;
    font-family:'poppins' ;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    color: #111111;
    font-weight: 500;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

#newtask input:focus{
    outline: none;
    border-color: #a73a0f;
}
#newtask  button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-size: 'poppins';
    font-weight: 500;
    font-size: 16px;
    background-color: #a73a0f;
    color: #ffffff;
    cursor:
     pointer;
     border: 1px solid white;


}
#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
    box-shadow:0 15px 30px rgba(0,0,0,0.3)  ;
    position: relative;


}
.task{
    background-color: #ffffff;

    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom:2px solid #d1d3d4;

}
.task span{
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 400;
}
.task button{
background-color: #a73a0f;
color: #ffffff;
height: 100%;
width: 40px;
border-radius: 5px;
border: none;
cursor: pointer;

}
.completed{
    text-decoration: line-through ;
    text-decoration-color: #32160b;

}
  